fastapi>=0.95.0
uvicorn>=0.22.0
python-multipart>=0.0.6
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0
mne>=1.3.0
pyedflib>=0.1.32
wfdb>=4.1.0
pydantic>=1.10.0
setuptools<70
librosa
pykalman
joblib
onnxruntime
xgboost==1.5.2